<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Roasted</string>
		<key>color</key>
		<string>red</string>
		<key>level2</key>
		<array>
			<dict>
				<key>title</key>
				<string>Burnt</string>
				<key>color</key>
				<string>red</string>
				<key>level3</key>
				<array>
					<dict>
						<key>title</key>
						<string>Roast Brown</string>
						<key>color</key>
						<string>red</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Pipe Tobacco</string>
				<key>color</key>
				<string>green</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Sweet</string>
		<key>color</key>
		<string>green</string>
		<key>level2</key>
		<array>
			<dict>
				<key>title</key>
				<string>Brown Sugar</string>
				<key>color</key>
				<string>red</string>
				<key>level3</key>
				<array>
					<dict>
						<key>title</key>
						<string>Honey</string>
						<key>color</key>
						<string>red</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Vanilla</string>
				<key>color</key>
				<string>green</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Nutty Cocoa</string>
		<key>color</key>
		<string>orange</string>
		<key>level2</key>
		<array>
			<dict>
				<key>title</key>
				<string>Cocoa</string>
				<key>color</key>
				<string>red</string>
				<key>level3</key>
				<array>
					<dict>
						<key>title</key>
						<string>Dark Chocolate</string>
						<key>color</key>
						<string>red</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Nutty / Cocoa</string>
						<key>color</key>
						<string>green</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Chocolate</string>
						<key>color</key>
						<string>orange</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Milk Chocolate</string>
						<key>color</key>
						<string>purple</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Nutty</string>
				<key>color</key>
				<string>green</string>
				<key>level3</key>
				<array>
					<dict>
						<key>title</key>
						<string>Hazelnut</string>
						<key>color</key>
						<string>red</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Almond</string>
						<key>color</key>
						<string>green</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Fruity</string>
		<key>color</key>
		<string>purple</string>
		<key>level2</key>
		<array>
			<dict>
				<key>title</key>
				<string>Citrus Fruit</string>
				<key>color</key>
				<string>red</string>
				<key>level3</key>
				<array>
					<dict>
						<key>title</key>
						<string>Lemon</string>
						<key>color</key>
						<string>red</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Orange</string>
						<key>color</key>
						<string>green</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Other Fruit</string>
				<key>color</key>
				<string>green</string>
				<key>level3</key>
				<array>
					<dict>
						<key>title</key>
						<string>Apricot</string>
						<key>color</key>
						<string>red</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Apple</string>
						<key>color</key>
						<string>green</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Pomegranate</string>
						<key>color</key>
						<string>orange</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Berry</string>
				<key>color</key>
				<string>orange</string>
				<key>level3</key>
				<array>
					<dict>
						<key>title</key>
						<string>Blackberry</string>
						<key>color</key>
						<string>red</string>
					</dict>
					<dict>
						<key>title</key>
						<string>Blueberry</string>
						<key>color</key>
						<string>green</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Spices</string>
		<key>color</key>
		<string>blue</string>
		<key>level2</key>
		<array>
			<dict>
				<key>title</key>
				<string>Brown Spice</string>
				<key>color</key>
				<string>red</string>
				<key>level3</key>
				<array>
					<dict>
						<key>title</key>
						<string>Cinnamon</string>
						<key>color</key>
						<string>red</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>title</key>
				<string>Pepper</string>
				<key>color</key>
				<string>green</string>
				<key>level3</key>
				<array>
					<dict>
						<key>title</key>
						<string>Spices</string>
						<key>color</key>
						<string>red</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Green / Vegetative</string>
		<key>color</key>
		<string>cyan</string>
		<key>level2</key>
		<array>
			<dict>
				<key>title</key>
				<string>Green/Vegetative</string>
				<key>color</key>
				<string>red</string>
				<key>level3</key>
				<array>
					<dict>
						<key>title</key>
						<string>Fresh</string>
						<key>color</key>
						<string>red</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>Floral</string>
		<key>color</key>
		<string>gray</string>
		<key>level2</key>
		<array>
			<dict>
				<key>title</key>
				<string>Floral</string>
				<key>color</key>
				<string>red</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
